body { 
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/footer_lodyas.png");
    color:  whitesmoke;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Luckiest Guy', cursive; color: burlywood; }

#description { margin-top: 50px; }

#timer {
    position: absolute;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    top: 0px;
    right: 0px;
}

.container { margin-top: 25px; }

.background-white {
    background-color: whitesmoke;
    color: initial;
    padding: 25px;
    position: relative;
}

.option>p, .option-correct>p, .option-incorrect>p, .option-neutral>p {
    font-size: 14px;
    padding: 10px;
    border: gray solid 2px;
    margin: 0.5rem 0;
    cursor: default;
}

.option>p { cursor: pointer; }

    .option>p:hover {
        border: #000000 solid 2px;
    }

h4.correct { color: rgb(40, 167, 69); }

h4.incorrect { color: rgb(220, 53, 69); }

h4.neutral { color: black; }

.option-correct>p {
    border: rgb(40, 167, 69) solid 2px;
    background-color: rgb(40, 167, 69);
    color:white;
}

.option-incorrect>p {
    border: rgb(220, 53, 69) solid 2px;
    background-color: rgb(220, 53, 69);
    color:white;
}